
html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: white;
}

h1 {
  font-size: 5em;
  width: 25%;
  color: red;
  line-height: 1em;
}



button{
  background-color: grey;
}
button.main {
  border: 1px solid black;
  font-weight: bold;
  font-size: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-top : 10px;
}


button.child1,button.child2,button.child3,button.child4 {
  border: 1px solid black;
  font-weight: bold;
  font-size: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  height: 66px;
  width: 66px;
  margin : 10px;
  font-size: 12px;
}




.panel {
  width:48%;
  max-width: 48%;
  height: 25%
  background: #EAEAEA;
  display:inline;
  float:left;


}



#line2 .box,#line2 .panel{
  margin-top: 12%;
  margin-bottom: 4%;
}


#line3 .box{
  margin-top: 10%;
  margin-bottom: 4%;
}

.main{
  height : 100px;
  width:100px;
}



.box {
display:inline;
/*padding: 5px;*/
float: left;
width:24%;
/*position: fixed;*/
}

.maindiv{
  margin-left: 30%;
}

.child1{
    position : absolute;
    transform: translate(-120%,-30%);
    opacity: 0;
}

.child2{
  position : absolute;
  transform: translate(10%,10%);
  opacity: 0;
}

.child3{
  position : absolute;
  transform: translate(140%,-30%);
  opacity: 0;
}
